# Data Science Tools and Ecosystem

Welcome to Jupyter Notebook! Here you can uitilize exciting tools.

**Objectives:**
* SQL
* Python
* R
* Julia
* Scala

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Tensorflow
3. Panda

|Data Science Tools|
|------------------|
|Apache Spark|
|Jupyter|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python:
___________________________________________________________________________

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
SHIH HAO TSAI